.card {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #9d3f3f;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card h2 {
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.card p {
  font-size: 16px;
  color: #666;
}

.main {
  background-color: blanchedalmond;
  flex-grow: 1;
  /* This makes the main content area expand to fill the available space */
  padding: 15px;
  overflow-y: auto;
}