.card {
  max-width: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #9d3f3f;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card h2 {
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.card p {
  font-size: 16px;
  color: #666;
}

.warning {
  font-size: 24pt;
  color: rgb(250, 45, 38);
  font-weight: bold;
  text-align: center;
  background-color: rgb(81, 87, 168);
  border: 1px solid sienna;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main {
  /* background-color: blanchedalmond; */
  background-image: url("./assets/9.png");
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  /* This makes the main content area expand to fill the available space */
  padding: 15px;
  overflow-y: auto;
}